@import '/styles/libraries/global';

.selectList {
  position: absolute;
  margin-top: 87px;
  border-radius: 8px;
  border: 1px solid #d8d3d3;
  background: #fff;
  padding: 8px 18px;
  width: calc(50% - 4px);
  z-index: 20;
}
.selectOption {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: $Inter-700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.32px;
}
.selectOption:not(:last-child) {
  margin-bottom: 12px;
}
.selectNetwork {
  color: #2c2c2c;
  font-size: 16px;
  font-family: $Inter-700;
  line-height: 31.533px; /* 197.083% */
  letter-spacing: -0.016px;
}
.disabled {
  color: #807e7e;
  font-family: $Inter-500;
  // img {
  //   opacity: 0.5;
  // }
}

.thirdwebConnect {
  position: absolute !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: #2c2c2c !important;
  width: fit-content !important;
  height: fit-content !important;
  margin-left: 20px !important;
  min-width: auto !important;
}