.paloma-bot-intro-bg {
  background: rgba(225, 233, 255, 0.77);
  background-image: url("/assets/home/cloud.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
}
.paloma-bot-intro-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 160px 0px 144px;

  .subTitle {
    font-size: 30px;
    text-transform: uppercase;
  }

  .title {
    font-family: $font-bold;
    font-size: 40px !important;
    line-height: 50px !important;
  }

  .description {
    font-size: 16px !important;
  }

  .home-page-button {
    background: #2c2c2c !important;
    color: #fff !important;
  }
}
