.loading-spinner-container {
  width: fit-content;
  height: fit-content;
  animation: loading-bar-spinner 400ms linear infinite;
  margin-right: 10px;
  margin-left: 10px;

  .spinner-icon {
    width: 30px;
    height: 30px;
    border: solid 4px transparent;
    border-top-color: #20253B !important;
    border-left-color: #20253B !important;
    border-radius: 50%;
  }

  @keyframes loading-bar-spinner {
    0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.loading-triple-container {
  width: fit-content;
  height: fit-content;
  // background-color: #b6b2ef;

  .three-balls {
    margin: 0 auto;
    width: 70px;
    text-align: center;
  }

  .three-balls .ball {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: bouncedelay 2s infinite
      cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
    animation: bouncedelay 2s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  }

  .three-balls .ball1 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .three-balls .ball2 {
    -webkit-animation-delay: -0.08s;
    animation-delay: -0.08s;
  }

  @keyframes bouncedelay {
    0% {
      bottom: 0;
      background-color: #20253b;
    }
    16.66% {
      bottom: 40px;
      background-color: #60699e;
    }
    33.33% {
      bottom: 0px;
      background-color: #60699e;
    }
    50% {
      bottom: 40px;
      background-color: #37fad3;
    }
    66.66% {
      bottom: 0px;
      background-color: #37fad3;
    }
    83.33% {
      bottom: 40px;
      background-color: #20253b;
    }
    100% {
      bottom: 0;
      background-color: #20253b;
    }
  }

  @-webkit-keyframes bouncedelay {
    0% {
      bottom: 0;
      background-color: #20253b;
    }
    16.66% {
      bottom: 40px;
      background-color: #60699e;
    }
    33.33% {
      bottom: 0px;
      background-color: #60699e;
    }
    50% {
      bottom: 40px;
      background-color: #37fad3;
    }
    66.66% {
      bottom: 0px;
      background-color: #37fad3;
    }
    83.33% {
      bottom: 40px;
      background-color: #20253b;
    }
    100% {
      bottom: 0;
      background-color: #20253b;
    }
  }
}
