@import '/styles/libraries/global';

.rotated-header-container {
  width: 100vw;
  max-width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;

  .skew-bg {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: skewY(-2.66deg);
    -ms-transform: skewY(-2.66deg);
    transform: skewY(-2.66deg);

    @media screen and (max-width: 768px) {
      height: 70px;
    }

    @media screen and (max-width: 500px) {
      height: 50px;
    }

    &.dark {
      background: rgba(44, 44, 44, 1);
      color: #ffffff;
    }

    &.light {
      background: #eecccc;
      color: #2c2c2c;
    }

    .header-title {
      margin: 0px;
      width: fit-content;
      font-size: 28px;
      font-family: $RockStar-700;
      text-transform: capitalize;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }

      @media screen and (max-width: 500px) {
        font-size: 20px;
      }
    }

    .left-image {
      height: 151px;
      transform: rotate(2.66deg);

      @media screen and (max-width: 768px) {
        height: 121px;
      }

      @media screen and (max-width: 500px) {
        height: 80px;
        display: none;
      }
    }

    .right-image {
      height: 125px;
      transform: rotate(2.66deg);
      margin-left: 8px;

      @media screen and (max-width: 768px) {
        height: 120px;
      }

      @media screen and (max-width: 500px) {
        height: 80px;
        display: none;
      }
    }
  }
}
