@import '/styles/libraries/global';

.pink {
  border-radius: 9px;
  border: 0.883px solid #f1d1e5;
  background: #f1d1e5;
  color: #2c2c2c;
  text-align: center;
  font-family: $Inter-600;
  font-size: 12.362px;
  font-style: normal;
  line-height: 100%; /* 14px */
  display: flex;
  height: 44px;
  padding: 21.19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
