<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
      @import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);
      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c4 {
        margin-left: 42.5pt;
        padding-top: 0pt;
        text-indent: -21.2pt;
        padding-bottom: 4pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c12 {
        margin-left: 21.3pt;
        padding-top: 0pt;
        padding-bottom: 6pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c13 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt;
      }
      .c10 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c21 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: 'Calibri';
        font-style: normal;
      }
      .c18 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 8pt;
        font-family: 'Arial';
        font-style: normal;
      }
      .c2 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: 'Times New Roman';
        font-style: normal;
      }
      .c6 {
        padding-top: 0pt;
        padding-bottom: 8pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c23 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c3 {
        -webkit-text-decoration-skip: none;
        color: #000000;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-family: 'Times New Roman';
      }
      .c20 {
        padding-top: 0pt;
        padding-bottom: 12pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c0 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: justify;
      }
      .c15 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: center;
      }
      .c7 {
        font-family: 'Times New Roman';
        color: #000000;
        font-weight: 400;
      }
      .c25 {
        color: #0563c1;
        font-weight: 400;
        font-family: 'Times New Roman';
      }
      .c22 {
        background-color: #ffffff;
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt;
      }
      .c8 {
        -webkit-text-decoration-skip: none;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
      .c1 {
        font-family: 'Times New Roman';
        color: #000000;
        font-weight: 700;
      }
      .c9 {
        margin-left: 42.5pt;
        text-indent: -21.2pt;
      }
      .c16 {
        font-weight: 700;
        font-family: 'Times New Roman';
      }
      .c5 {
        margin-left: 21.3pt;
        text-indent: -21.3pt;
      }
      .c17 {
        margin-left: 36pt;
        text-indent: -18pt;
      }
      .c11 {
        color: inherit;
        text-decoration: inherit;
      }
      .c24 {
        margin-left: 36pt;
      }
      .c19 {
        text-indent: -21.3pt;
      }
      .c14 {
        margin-left: 21.3pt;
      }
      .title {
        padding-top: 24pt;
        color: #000000;
        font-weight: 700;
        font-size: 36pt;
        padding-bottom: 6pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 18pt;
        color: #666666;
        font-size: 24pt;
        padding-bottom: 4pt;
        font-family: 'Georgia';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #000000;
        font-size: 11pt;
        font-family: 'Calibri';
      }
      p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: 'Calibri';
      }
      h1 {
        padding-top: 24pt;
        color: #000000;
        font-weight: 700;
        font-size: 24pt;
        padding-bottom: 6pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #000000;
        font-weight: 700;
        font-size: 18pt;
        padding-bottom: 4pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 14pt;
        color: #000000;
        font-weight: 700;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 12pt;
        color: #000000;
        font-weight: 700;
        font-size: 12pt;
        padding-bottom: 2pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 11pt;
        color: #000000;
        font-weight: 700;
        font-size: 11pt;
        padding-bottom: 2pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 10pt;
        color: #000000;
        font-weight: 700;
        font-size: 10pt;
        padding-bottom: 2pt;
        font-family: 'Calibri';
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
    </style>
  </head>
  <body class="c22 doc-content">
    <div>
      <p class="c13"><span class="c21"></span></p>
    </div>
    <p class="c15"><span class="c1">PALOMA LIGHTNODE PROGRAM</span></p>
    <p class="c15"><span class="c1">TERMS AND CONDITIONS</span></p>
    <p class="c15"><span class="c1">&nbsp;</span></p>
    <p class="c15"><span class="c16">August 7, 2024</span></p>
    <p class="c13"><span class="c2"></span></p>
    <p class="c0">
      <span class="c2"
        >BY PARTICIPATING IN THE PROGRAM, PARTICIPANT ACKNOWLEDGES THAT THEY HAVE READ, UNDERSTOOD, AND AGREED TO THESE
        NODE PROGRAM TERMS AND CONDITIONS AND THE RELATED DISCLAIMERS IN THEIR ENTIRETY. THE PARTICIPANT IS RESPONSIBLE
        FOR MAKING ITS OWN DECISION IN RESPECT OF ITS PARTICIPATION IN THE PROGRAM AND ANY RECEIPT OF NODES. ANY
        PARTICIPATION IN THE PROGRAM IS SOLELY AT THE PARTICIPANT&rsquo;S OWN DECISION AND RISK.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0">
      <span class="c2"
        >PRIOR TO PARTICIPATING IN THE PROGRAM AND/OR PRIOR TO RECEIVING ANY NODES, IT IS THE PARTICIPANT&rsquo;S SOLE
        RESPONSIBILITY TO SEEK APPROPRIATE PROFESSIONAL, LEGAL, INVESTMENT AND TAX ADVICE IN RESPECT OF THE PROGRAM AND
        ANY RECEIPT OF THE NODES. THE TAX CONSEQUENCES RELATING TO THE PARTICIPATION IN THE PROGRAM AND THE DISTRIBUTION
        OF ANY NODES IN THAT REGARD, IS UNCERTAIN AND THERE MAY BE ADVERSE TAX CONSEQUENCES FOR THE PARTICIPANT. THE
        PARTICIPATION IN THE PROGRAM AND RECEIPT OF NODES IN CONNECTION THEREWITH MAY RESULT IN ADVERSE TAX CONSEQUENCES
        TO THE PURCHASER, INCLUDING WITHHOLDING TAXES, INCOME TAXES AND TAX REPORTING REQUIREMENTS.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0">
      <span class="c2"
        >BY PARTICIPATING IN THE PROGRAM, THE PARTICIPANT EXPRESSLY ACKNOWLEDGES AND ASSUMES ALL RISKS RELATED THERETO,
        INCLUDING, WITHOUT LIMITATION, THE RISKS SET OUT IN THESE NODE PROGRAM TERMS AND CONDITIONS. IN NO EVENT SHALL
        THE ORGANIZER, ITS AFFILIATES OR ANY MEMBER OF THE ORGANIZER GROUP BE HELD LIABLE IN CONNECTION WITH OR FOR ANY
        CLAIMS, LOSSES, DAMAGES OR OTHER LIABILITIES, WHETHER IN CONTRACT, TORT OR OTHERWISE, ARISING OUT OF OR IN
        CONNECTION WITH THE PROGRAM OR THE RECEIPT OF ANY NODES.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0">
      <span class="c2"
        >THE ORGANIZER DOES NOT TAKE ANY RESPONSIBILITY FOR THE PARTICIPATION BY ANY PARTICIPANT IN THE PROGRAM. EACH
        PARTICIPANT MUST DETERMINE FOR ITSELF WHETHER TO PARTICIPATE IN THE PROGRAM BEFORE PARTICIPATING, AND SHOULD NOT
        RELY ON ANY STATEMENT MADE BY THE ORGANIZER. THE ORGANIZER DOES NOT PROVIDE ANY RECOMMENDATION OR ADVICE IN
        RESPECT OF THE PROGRAM OR THE NODES. THE ORGANIZER HAS NOT ASSESSED THE SUITABILITY OF THE NODES FOR ANY
        PARTICIPANT. THE ORGANIZER HAS NOT CONSIDERED THE APPLICABLE LAWS AND REGULATIONS OF THE JURISDICTION OF ANY
        PARTICIPANT. EACH PARTICIPANT PARTICIPATES IN THE PROGRAM AT ITS OWN RISK AND RECEIVES NODES AT ITS OWN
        RISK.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c6">
      <span class="c7"
        >THE PARTICIPANT IS NOT ELIGIBLE TO PARTICIPATE IN THE PROGRAM OR RECEIVE NODES IF (EACH A &ldquo;</span
      ><span class="c1">RESTRICTED PERSON</span><span class="c2">&rdquo;):</span>
    </p>
    <p class="c0 c24"><span class="c2">&nbsp;</span></p>
    <p class="c0 c17">
      <span class="c2"
        >(A)&nbsp;&nbsp;THE PROGRAM IS PROHIBITED OR RESTRICTED IN ANY FORM OR MANNER, WHETHER IN FULL OR IN PART, UNDER
        THE LAWS, REGULATORY REQUIREMENTS OR RULES OF THE JURISDICTION IN WHICH THE PARTICIPANT IS LOCATED; OR</span
      >
    </p>
    <p class="c10"><span class="c2">&nbsp;</span></p>
    <p class="c0 c17">
      <span class="c7"
        >(B)&nbsp;&nbsp;THE PARTICIPANT IS CAPTURED BY ANY SANCTIONS&nbsp;ADMINISTERED BY THE UNITED STATES OFFICE OF
        FOREIGN ASSETS CONTROL OF THE UNITED STATES DEPARTMENT OF THE TREASURY OR ANY OTHER UNITED STATES GOVERNMENT
        AUTHORITY, IS DESIGNATED AS A &ldquo;SPECIFICALLY DESIGNATED NATIONAL&rdquo; OR &ldquo;BLOCKED PERSON&rdquo; BY
        THE UNITED STATES OFFICE OF FOREIGN ASSETS CONTROL OF THE UNITED STATES DEPARTMENT OF THE TREASURY OR SUBJECT TO
        ANY SIMILAR SANCTIONS OR MEASURES IMPOSED OR ADMINISTERED BY THE UNITED NATIONS SECURITY COUNCIL, THE EUROPEAN
        UNION, HIS MAJESTY&rsquo;S TREASURY OF THE UNITED KINGDOM OR SIMILAR SANCTIONS ADMINISTERED OR IMPOSED BY ANY
        OTHER COUNTRY.</span
      ><span>&nbsp; </span
      ><span class="c2"
        >THE FOLLOWING TERRITORIES ARE RESTRICTED: CRIMEA, CUBA, IRAQ, IRAN, NORTH KOREA, AND SYRIA.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0">
      <span class="c2"
        >THE ORGANIZER FURTHER RESERVES THE RIGHT TO DETERMINE IN WHICH MARKETS AND JURISDICTIONS TO CONDUCT THE
        PROGRAM, AND MAY RESTRICT OR REFUSE THE AVAILABILITY OF THE PROGRAM IN ANY COUNTRIES OR REGIONS IN ITS SOLE
        DISCRETION.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0">
      <span class="c7">These terms and conditions (&ldquo;</span><span class="c1">Terms</span
      ><span class="c7">&rdquo;) govern the participation in and receipt of Paloma Light Nodes (&ldquo;</span
      ><span class="c1">Nodes</span><span class="c7">&rdquo;) through the program (&ldquo;</span
      ><span class="c1">Program</span><span class="c7">&rdquo;) organized by the Paloma Foundation (&ldquo;</span
      ><span class="c1">Organizer</span><span class="c7">&rdquo; or &ldquo;</span><span class="c1">The Foundation</span
      ><span class="c7"
        >&rdquo;), including by way of participating, in any manner, in the period during which you (&ldquo;</span
      ><span class="c1">Participant</span
      ><span class="c7"
        >&rdquo;) may relay bi-directional, scheduled messages between Paloma and any other supported blockchain (the
        &ldquo;</span
      ><span class="c1">Messaging Activities</span
      ><span class="c2"
        >&rdquo;). For the avoidance of doubt, any reference to &ldquo;Program&rdquo; in these Terms shall include
        participation in the Messaging Activities. By participating in the Program, you agree to have read, understood,
        and be bound by these Terms, and that Participant complies with each requirement listed herein. If Participant
        does not agree to these Terms or does not comply with the requirements herein, Participant is not eligible to
        participate in the Program or receive Nodes. If Participant is acting for or on behalf of an entity, Participant
        hereby represents and warrants that it is authorized to accept these Terms and enter into a binding agreement
        with Organizer on such entity&rsquo;s behalf, and Participant accepts these Terms both on behalf of such entity
        and on its own behalf.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c1">Requirements</span
      ><span class="c1">.&nbsp;</span
      ><span class="c2"
        >By participating in the Program or receiving Nodes, Participant represents and warrants that:</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(a)&nbsp;&nbsp;&nbsp;as an individual, legal person, or other organization, it has full legal capacity and
        authority to agree and bind itself to these Terms, and that, as an individual, it is at least 18 years of age or
        of legal age to form a binding contract under the applicable laws of its jurisdiction of residency;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(b)&nbsp;&nbsp;&nbsp;all information provided by Participant during the Program registration process is true,
        accurate, and complete;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(c)&nbsp;&nbsp;&nbsp;it has at least a basic degree of understanding of the operation, functionality, usage,
        storage, transmission mechanisms and other material characteristics of cryptocurrencies, blockchain-based
        software systems, cryptocurrency wallets or other related token storage mechanisms, blockchain technology and
        smart contract technology;</span
      >
    </p>
    <p class="c4"><span class="c2">(d)&nbsp;&nbsp;&nbsp;it is not a Restricted Person; and</span></p>
    <p class="c0 c9">
      <span class="c2"
        >(e)&nbsp;&nbsp;&nbsp;it has not used a VPN or any other privacy or anonymization tool to circumvent
        restrictions that apply to the Program.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c1">Eligibility</span
      ><span class="c1">.&nbsp;</span
      ><span class="c2">In order to be eligible to participate in the Program and/or receive Nodes:</span>
    </p>
    <p class="c4">
      <span class="c2"
        >(a)&nbsp;&nbsp;&nbsp;Participant must comply with all applicable laws and regulations in Participant&rsquo;s
        own jurisdiction and the jurisdictions governing Organizer, its affiliates and these Terms.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(b)&nbsp;&nbsp;&nbsp;The representations and warranties made by Participant must be true and accurate in all
        respects on the day they were made, and on each day thereafter until the conclusion of the Program and
        Participant&rsquo;s receipt of Nodes.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(c)&nbsp;&nbsp;&nbsp;Participant must provide accurate and complete information, as requested by Organizer or
        required for, or in connection with, the Program. Participant must further ensure that such information is true,
        complete, and timely updated if and when changed. Organizer reserves the right to request further information
        from Participant and to verify Participant&rsquo;s identity and eligibility as a prerequisite to
        Participant&rsquo;s participation in the Program or receipt of Nodes.</span
      >
    </p>
    <p class="c0 c9">
      <span class="c2"
        >(d)&nbsp;&nbsp;&nbsp;Organizer will determine, in its sole discretion, the eligibility criteria for
        participation in the Program, including the amount of Nodes to be distributed to eligible Participants that
        satisfy such criteria. Different eligible Participants may receive different amounts of Nodes in the Program
        depending on the criteria determined by the Organizer, in its sole discretion. Organizer will have no obligation
        to notify potential Program participants of the eligibility criteria for any Program prior to the execution of
        such Program.</span
      >
    </p>
    <p class="c0 c9"><span class="c2">&nbsp;</span></p>
    <p class="c0 c5">
      <span class="c1">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Disqualification</span><span class="c1">.&nbsp;</span
      ><span class="c2"
        >Organizer reserves right, in its sole and absolute discretion, to disqualify any proposed Participant it deems
        ineligible for the Program, be it under these Terms or by having engaged in any conduct that Organizer considers
        inappropriate or unacceptable. Conduct that will result in disqualification from the Program shall include, but
        is not limited to: (i) attempting to cheat or hack the Program or the Nodes, or (ii) carrying out any kind of
        spamming, or behaving in a manner which Organizer deems offensive or inappropriate.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c0 c5">
      <span class="c1">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Program Details</span><span class="c1">.&nbsp;</span
      ><span class="c7"
        >The Program will be conducted during the speci&#64257;ed period, as determined by Organizer (&ldquo;</span
      ><span class="c1">Program Period</span
      ><span class="c2"
        >&rdquo;). In order to participate in the Program, Participant must meet the eligibility requirements set forth
        in Section 2 above, and follow the speci&#64257;ed instructions that are provided by Organizer and/or its
        affiliates from time to time, including by participation in the Messaging Activities. The number of Nodes
        allocated to Participant, and each other Participant, will be determined by Organizer, in its sole discretion,
        and such allocation may vary among each Participant.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c0 c5">
      <span class="c1">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Node Distribution</span><span class="c1">.</span
      ><span class="c2"
        >&nbsp;The distribution of Nodes is scheduled to occur after the Program Period ends, subject to successful
        veri&#64257;cation and compliance with these Terms. Nodes will either be transferred to the designated wallet
        address provided by Participant or be claimable by such designated wallet. Participant may incur transaction
        fees payable by Participant in order to receive and/or claim Nodes.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c12 c19">
      <span class="c1">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c1">Use of Nodes</span
      ><span class="c1">.</span
      ><span class="c2"
        >&nbsp;Participant acknowledges and agrees that Nodes received through the Program may have speci&#64257;c usage
        limitations, and may have no monetary value. Nodes received through the Program are not to be viewed as an
        investment, and Participant acknowledges that the value, if any, may fluctuate and that no guarantees are made
        regarding future value, if any. Nodes or anything mined with nodes, or relay fees collected by nodes, are not
        intended to constitute securities of any form, commodities, shares of a company, units in a trust, units in a
        collective investment scheme or any other financial instrument or form of investment in any jurisdiction. These
        Terms or any information in relation to the Program or Nodes do not constitute the distribution, an offer or
        solicitation of any kind to purchase or sell any product, security or financial instrument whatsoever nor should
        they be construed as providing any type of investment or other advice or recommendations by Organizer, Organizer
        Group, any of its Affiliates or third parties to any person in any jurisdiction where such distribution, offer,
        solicitation, purchase or sale would be unlawful under the laws of such jurisdiction.</span
      >
    </p>
    <p class="c12">
      <span class="c2"
        >Moreover, Organizer does not give investment advice, endorsement, analysis or recommendations with respect to
        any cryptocurrencies, digital assets, tokens or securities or provide any financial, tax, legal advice or
        consultancy services of any kind. Organizer is not Participant&rsquo;s broker, intermediary, agent, or advisor
        and has no fiduciary relationship or obligation to Participant in connection with any trades or other decisions
        or activities effected by Participant.</span
      >
    </p>
    <p class="c12">
      <span class="c2"
        >Participation in the Program and purchasing Nodes is highly risky and may lead to a total loss of funds.
        Participant must have sufficient understanding of cryptographic tokens, token storage mechanisms (such as token
        wallets), and blockchain technology to appreciate the risks involved in participating in the Program or dealing
        in digital assets. Participant understands and agrees that the value of digital assets can be volatile, and
        Organizer is not in any way responsible or liable for any losses Participant may incur by participating in the
        Program. Participant should not take, or refrain from taking, any action based on any information provided by
        Organizer, Organizer Group or its Affiliates. Before Participant makes any financial, legal, or other decisions
        involving the Program or Nodes, Participant should seek independent professional advice from an individual who
        is licensed and qualified in the area for which such advice would be appropriate.</span
      >
    </p>
    <p class="c0 c14">
      <span class="c2"
        >Neither Organizer, Organizer Group, nor their Affiliates recommend that any cryptocurrencies should be
        obtained, bought, earned, sold, or held by Participant and neither Organizer, Organizer Group, nor their
        Affiliates will be held responsible for the decisions Participant makes based on the information provided by
        them.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c1">Covenants</span
      ><span class="c1">.</span
      ><span class="c2"
        >&nbsp;Participant shall not participate in the Program except as expressly permitted in these Terms. Without
        limiting the generality of the preceding sentence, Participant covenants not to:</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(a)&nbsp;&nbsp;&nbsp;Participate in the Program in any dishonest or unlawful manner, for fraudulent or
        malicious activities, or in any manner inconsistent with these Terms;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(b)&nbsp;&nbsp;&nbsp;Violate applicable laws or regulations in connection with the registration for,
        participation in, or any other action related to the Program;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(c)&nbsp;&nbsp;&nbsp;Infringe any proprietary rights, including but not limited to copyrights, patents,
        trademarks, or trade secrets of Organizer, its affiliates or any proprietary rights of other third parties in
        connection with the registration for, participation in, or any other action related to the Program;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(d)&nbsp;&nbsp;&nbsp;Use the Program for market manipulation (such as pump and dump schemes, wash trading,
        self-trading, front running, quote stuffing, and spoofing or layering, regardless of whether prohibited by
        law);</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(e)&nbsp;&nbsp;&nbsp;Attempt to access the Program without authorization, or connect to the networks of the
        Program by hacking, password mining, phishing, cracking or any other unlawful or prohibited means;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(f)&nbsp;&nbsp;&nbsp;&nbsp;Use any devices, software or routine programs to interfere with the Program;
        or</span
      >
    </p>
    <p class="c0 c9">
      <span class="c2"
        >(g)&nbsp;&nbsp;&nbsp;Forge headers, impersonate, or otherwise manipulate identification, to disguise
        Participant&rsquo;s identity or the origin of any messages or transmissions Participant provides to us.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c1">Risks</span
      ><span class="c1">.</span>
    </p>
    <p class="c4">
      <span class="c2"
        >(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participant acknowledges that Paloma incorporates
        experimental and novel technology and that the use of such technology involves a high degree of risk. There are
        numerous reasons Paloma could fail in an unexpected way, including by way of Participant&rsquo;s participation
        in the Messaging Activities. Participant hereby agrees that it assumes all risks in connection with its use of
        Paloma or participating blockchains or any smart contract on participating blockchains or Paloma in connection
        with the Program, including by way of Participant&rsquo;s participation in the Messaging Activities, and
        expressly waives and releases Organizer and its affiliates from any and all liability, claims, causes of action,
        or damages arising out of or in any way relating to Participant&rsquo;s participation in the Program, including
        use of any smart contract on any participating blockchain or Paloma in connection with the Messaging Activities
        or otherwise.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participant understands and accepts the risk of operational
        challenges related to the Program, including any smart contract on any participating blockchain or Paloma, used
        in connection with the Messaging Activities or otherwise. Participant agrees to accept the risk of any failures
        of such any participating blockchain or Paloma smart contracts resulting from unanticipated or heightened
        technical difficulties or vulnerabilities, including those resulting from cyber-attacks. Participant agrees not
        to hold Organizer accountable for any related losses.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participant agrees that Organizer is not responsible for any
        Nodes or other crypto assets that Participant receives, transfers, holds, stakes, spends, locks, loses, or
        otherwise uses or misuses in connection with the Program or Paloma, including in connection with
        Participant&rsquo;s participation in the Messaging Activities.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legal and regulatory requirements applicable to
        participation in the Program may vary from jurisdiction to jurisdiction. Participant acknowledges and agrees
        that it is solely responsible for evaluating the legality of participating in the Program in its jurisdiction.
        Organizer is not responsible for determining whether or which laws and regulations may apply to Participant or
        its participation in the Program.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The ability of the website&nbsp;</span
      ><span class="c8 c25"
        ><a
          class="c11"
          href="https://www.google.com/url?q=https://palomachain.com&amp;sa=D&amp;source=editors&amp;ust=1724430797378750&amp;usg=AOvVaw1fAtG6SEW5-rDl9V6eGS6z"
          >https://palomachain.com</a
        ></span
      ><span class="c7">&nbsp;or any sub-URL of such website (collectively, the &ldquo;</span
      ><span class="c1">Service</span
      ><span class="c2"
        >&rdquo;) to connect with third-party wallet applications or devices is not an endorsement or recommendation to
        do so by or on behalf of the operators of the Service, and Participant must assume all responsibility for
        selecting and evaluating and incurring the risks of any bugs, defects, malfunctions or interruptions of any
        third-party wallet applications or devices Participant directly or indirectly uses in connection with the
        Service.</span
      >
    </p>
    <p class="c4">
      <span class="c7"
        >(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The number and rate of Paloma points (&ldquo;</span
      ><span class="c1">GRAINS</span
      ><span class="c2"
        >&rdquo;) emitted to a pool per block is subject to various assumptions and changes which could result in
        materially different (lower or higher) GRAINS emissions to a pool. The number and rate of GRAINS in relation to
        a specific pool reflected on the Service are not offers, promises, agreements, guarantees or undertakings on the
        part of any person or group of persons, and depend on, amongst other things, the results of operation of smart
        contracts, others&rsquo; deposited or boosted assets and the number and rate of GRAINS allocated to other pools
        (including, without limitation, new pools that may be added which may then affect the GRAINS allocated to
        existing pools).</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The smart contracts on any participating blockchain or
        Paloma used in connection with the Program, including in connection with the Messaging Activities, may be
        subject to smart contract audits. However, hackers, individuals, other malicious groups or organizations may
        attempt and succeed to interfere with any wallet application, the any participating blockchain network, the
        Paloma Network or these smart contracts in a variety of ways, which may lead to a loss of Participant&rsquo;s
        assets. Transactions on the any participating blockchain or Paloma networks are irreversible. Any tokens
        Participant utilizes in connection with the Program, including in connection with the Messaging Activities, are
        subject to potential risk of permanent disablement, impairment, loss or forfeiture in the event of any exploits,
        bugs or malfunctions of these smart contracts or any participating blockchain or Paloma themselves, and no
        remedy will be available from any person due to any such damages Participant may suffer in connection with its
        participation in the Program.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participant is solely responsible for protecting the data
        integrity and confidentiality of its private keys and passwords to any wallet applications or devices used in
        connection with the Service. Participant cannot expect anyone to be able to restore or issue any refund in
        respect of property lost or frozen due to loss of private keys or otherwise. If Participant is not able to spend
        or use tokens due to loss or theft of the corresponding private key or otherwise, Participant will be unable to
        enjoy the benefits of such tokens.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participant acknowledges the non-custodial nature of the
        Program or any technology associated with the Paloma&rsquo;s platform. &nbsp;The Organizer is not a
        broker/dealer or a provider of securities services, and is not registered with the Securities and Exchange
        Commission or similar securities regulators in other jurisdictions. The Organizer is not a depository
        institution and is not registered with or insured by any governmental agency. Any tokens you store related to
        the Paloma platform are stored in a digital wallet you control, and over which The Foundation exercises no
        control.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The tax consequences of participating in the Program or
        receiving Nodes may vary by jurisdiction and may be adverse to Participant. Participant accepts the potential
        tax consequences in its jurisdiction of residence. Participant assumes all risks with respect to undertaking due
        diligence and investigation into such tax consequences, and nothing on the Service shall be construed to provide
        Participant with any tax, financial or legal advice.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blockchains may be subject to &ldquo;forks&rdquo;. Forks
        occur when some or all persons running the software clients for a particular blockchain system adopt a new
        client or a new version of an existing client that (a) changes the protocol rules in backwards-compatible or
        backwards-incompatible manner that affects which transactions can be added into later blocks, how later blocks
        are added to the blockchain, or other matters relating to the future operation of the protocol, or (b)
        reorganizes or changes past blocks to alter the history of the blockchain. Some forks are
        &ldquo;contentious&rdquo; and thus may result in two or more persistent alternative versions of the protocol or
        blockchain, either of which may be viewed as or claimed to be the legitimate or genuine continuation of the
        original. Participant assumes full responsibility to independently remain informed about possible forks, and to
        manage its own interests and risks in that connection.</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(k)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The smart contracts on any participating blockchain or
        Paloma used in connection with the Program, including in connection with the Messaging Activities, and all
        related facts and circumstances have not been reviewed, approved, endorsed or registered with any regulator or
        other governmental entity. The creators of these smart contracts are not licensed by any regulator or other
        authority to provide any legal, financial, accounting, investment or other advice or services.</span
      >
    </p>
    <p class="c0 c9">
      <span class="c2"
        >(l)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The regulatory status of cryptographic tokens, blockchain
        and distributed ledger technology, as well as its applications are unclear or unsettled in many jurisdictions
        and it is difficult to predict how or whether governments or regulatory agencies may implement changes to law or
        apply existing regulation with respect to such technology and its applications, including the Program and the
        Nodes. Any such changes to law or clarifications to existing laws may have a materially adverse effect on
        Participant and the Program and the Nodes.</span
      >
    </p>
    <p class="c0 c9"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c1">Disclaimers</span
      ><span class="c1">.</span
      ><span class="c2"
        >&nbsp;To the maximum extent permitted by all applicable laws and regulations, and except as otherwise provided
        in these Terms, Organizer Group (as defined below) hereby expressly disclaims its liability and shall in no case
        be liable to Participant or any other person for:</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Postponement, suspension and/or termination of the Program,
        including to the extent that Participant has permanently locked funds during the Messaging Activities;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any failure, or disruption to, the Program, the Messaging
        Activities, the operations of Organizer or any other technology (including but not limited to smart contract
        technology) associated therewith, due to any reason, including but not limited to occurrences of hacks, mining
        attacks, cyber-attacks, distributed denials of service, errors, vulnerabilities, defects, flaws in programming
        or source code or otherwise, regardless of when such failure, malfunction, breakdown, or disruption
        occurs;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any failure, malfunction, virus, error, bug, flaw, defect in
        the technology connected with or used for affecting Nodes or Participant&rsquo;s participation in the Program or
        Messaging Activities;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any prohibition, restriction or regulation by any government
        or regulatory authority in any jurisdiction applicable to Nodes or Participant&rsquo;s participation in the
        Program or Messaging Activities;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loss of possession of the credentials for accessing, or loss
        or destruction of the private keys of, any wallet and/or Participant&rsquo;s designated wallet addresses, in any
        manner and to any extent;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Failure to disclose information relating to the progress of
        the Program or Messaging Activities;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any risks associated with Participant&rsquo;s participation
        in the Program or Messaging Activities and/or Participant&rsquo;s use of Nodes;</span
      >
    </p>
    <p class="c4">
      <span class="c2"
        >(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All other risks, direct, indirect or ancillary, whether in
        relation to Participant&rsquo;s participation in the Program or Messaging Activities and/or Participant&rsquo;s
        use of Nodes which are not specifically or explicitly contained in or stated in these Terms; and</span
      >
    </p>
    <p class="c9 c20">
      <span class="c2"
        >(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any failure to obtain any Nodes in the Program, including by
        way of participation in the Messaging Activities.</span
      >
    </p>
    <p class="c0 c14">
      <span class="c7">For the purposes of these Terms &ldquo;</span><span class="c1">Organizer Group</span
      ><span class="c7">&rdquo; means Organizer and each of its Affiliates. &ldquo;</span
      ><span class="c1">Affiliate</span
      ><span class="c2"
        >&rdquo; with respect to any person, means any other person directly or indirectly controlling, controlled by or
        under common control with such person and their respective shareholders, members, directors, officers,
        employees, attorneys, agents, representatives, suppliers or contractors; and with respect to Organizer, means
        any other person directly or indirectly controlling, controlled by or under common control with such person and
        their respective shareholders, members, directors, officers, employees, attorneys, agents, representatives,
        suppliers or contractors.</span
      >
    </p>
    <p class="c0"><span class="c2">&nbsp;</span></p>
    <p class="c0 c5">
      <span class="c1">10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Intellectual Property</span
      ><span class="c2"
        >. Participant acknowledges and agrees that all intellectual property rights of the Organizer, the Organizer
        Group or its Affiliates, including, but not limited to, any works of authorship, trademarks, logos, content,
        features or functionality, and other intellectual property owned or licensed by those parties, are the sole
        property of the Organizer, the Organizer Group and/or its Affiliates or their respective licensors.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c0 c5">
      <span class="c1">11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c1 c8">Node Terms and Conditions</span><span class="c1">.</span
      ><span class="c7"
        >&nbsp;These Terms are separate and distinct from any terms and conditions related or governing Nodes, including
        the whitepapers, the publications in relation to Nodes, and/or any news, update or articles, as published or
        released on the website of the Organizer, any member of the Organizer Group, their Affiliates or of the official
        website of Nodes (the &ldquo;</span
      ><span class="c1">Publications</span
      ><span class="c2"
        >&rdquo;). To the extent any inconsistency exists between these Terms and the Publications, these Terms shall
        prevail to the extent of the inconsistency.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Limitation of Liability</span><span class="c1">.</span
      ><span class="c2"
        >&nbsp;To the maximum extent permitted by all applicable laws and regulations, Organizer Group and the
        Indemnified Persons (as defined below) shall not be liable for any indirect, special, incidental, consequential
        or other losses of any kind, in tort, contract or otherwise (including but not limited to loss of revenue,
        income or profits, and loss of use or data), arising out of or in connection with Participant&rsquo;s
        participation in the Program. Without prejudice to the foregoing, Participant hereby agrees that the aggregate
        liability of the members of the Organizer Group, in tort, contract or otherwise, arising out of or in connection
        with Participant&rsquo;s participation in the Program or Messaging Activities shall in any event be limited to
        EUR 1.00. Participant hereby agrees to waive all rights to assert any claims against Organizer Group and/or the
        Indemnified Persons under such applicable laws, regulations and rules.</span
      >
    </p>
    <p class="c6 c5">
      <span class="c1">13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Indemnification</span><span class="c1">.</span
      ><span class="c7"
        >&nbsp;To the maximum extent permitted by all applicable laws and regulations, Participant agrees to indemnify
        and hold harmless Organizer, Organizer Group, their Affiliates and their respective shareholders, members,
        directors, officers, employees, attorneys, agents, representatives, suppliers or contractors (the &ldquo;</span
      ><span class="c1">Indemnified Persons</span
      ><span class="c2"
        >&rdquo;) from and against any potential or actual claims, actions, proceedings, investigations, demands, suits,
        costs, expenses and damages (including attorneys&rsquo; fees, fines or penalties imposed by any regulatory
        authority) arising out of or related to (i) Participant&rsquo;s use of, or conduct in connection with, the
        Program or the Messaging Activities, (ii) Participant&rsquo;s breach of any representation, warranty, covenant
        or other obligation under these Terms; or (iii) Participant&rsquo;s violation of any applicable law, regulation,
        or rights of any third party.</span
      >
    </p>
    <p class="c6 c14">
      <span class="c2"
        >Notwithstanding the foregoing, the Indemnified Persons will have the right, in their sole discretion, to
        control any action or proceeding and to determine whether such Indemnified Person wishes to settle, and if so,
        on what terms.</span
      >
    </p>
    <p class="c0 c14">
      <span class="c2"
        >Participant&rsquo;s obligations under this Section 13 will continue even after these Terms have expired or been
        terminated.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c8 c1">Governing Law and Dispute Resolution</span><span class="c1">.</span
      ><span class="c2"
        >&nbsp;These Terms, the Program and Nodes shall be governed by, and construed in accordance with, the laws of
        the Cayman Islands, without giving effect to any choice or conflict of law provision or rule (whether of the
        Cayman Islands or any other jurisdiction).</span
      >
    </p>
    <p class="c6 c14">
      <span class="c2"
        >Participant agrees to submit all disputes between Participant and Organizer to individual binding arbitration.
        &nbsp;Any dispute arising out of or in connection with these Terms, including any question regarding its
        existence, validity or termination, as well as the Program and Nodes, shall be referred to and finally resolved
        by arbitration under the Rules of Arbitration of the International Chamber of Commerce (ICC), which rules are
        deemed to be incorporated by reference into this Section 14. The arbitration proceedings will be confidential.
        The number of arbitrators shall be one. The arbitration will be held in Grand Cayman, virtually, or in a
        mutually agreed-upon location by the parties. The language to be used in the arbitration shall be English.
      </span>
    </p>
    <p class="c0 c14">
      <span class="c2"
        >If a dispute must be arbitrated, Participant must start arbitration of the dispute within one (1) year from
        when the dispute first arose. If applicable law requires Participant to bring a claim for a dispute sooner than
        one (1) year after the dispute first arose, Participant must start arbitration in that earlier time period.
        Organizer encourages Participant to tell Organizer about a dispute as soon as possible so the parties can work
        to resolve it in good faith. The failure to provide timely notice will bar all claims.</span
      >
    </p>
    <p class="c0 c5"><span class="c2">&nbsp;</span></p>
    <p class="c6 c5">
      <span class="c1">14.</span><span class="c7">&nbsp;&nbsp;</span><span class="c8 c1">General Provisions</span
      ><span class="c1">.</span>
    </p>
    <p class="c4">
      <span class="c7">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3">Waivers</span
      ><span class="c2"
        >. For a waiver to be deemed effective, the waiver must be in a writing signed by Organizer. No waiver by
        Organizer of any term or condition set out in thee Terms will be deemed a further or continuing waiver of such
        term or condition or a waiver of any other term or condition, and any failure by Organizer to assert a right or
        provision under these Terms will not constitute a waiver of such right or provision.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c3">Cumulative Rights</span
      ><span class="c2"
        >. The rights and remedies of the parties under these Terms are cumulative, and each party may exercise any of
        its rights and enforce any of its remedies under these Terms, along with all other rights and remedies available
        to it at law, in equity, or otherwise.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3">Severability</span
      ><span class="c2"
        >. If any provision of these Terms is declared to be invalid, illegal, or unenforceable by a court of competent
        jurisdiction, then the validity, legality, and enforceability of the remaining provisions contained herein will
        not be affected thereby, and the remainder of the provisions of these Terms will remain valid, legal, and
        enforceable to the fullest extent permitted by law.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3">Force Majeure</span
      ><span class="c2"
        >.&nbsp;&nbsp;Organizer will have no liability for any failure or delay resulting from any condition beyond its
        reasonable control, including, without limitation, governmental action or acts of terrorism, earthquake, fire,
        flood, or other acts of God, labor conditions, power failures, equipment failures, and Internet or blockchain
        network disturbances.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c3">Successors and Assigns</span
      ><span class="c2"
        >. Participant may not transfer or assign these Terms or any rights or obligations hereunder, by operation of
        law or otherwise, and any such attempted assignment will be void. Organizer reserves the right to freely
        transfer or assign these Terms, as well as the rights and obligations hereunder, to any third party at any time
        without Participant&rsquo;s consent and prior notice to Participant.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c3">Relationship of the Parties</span
      ><span class="c2"
        >. Nothing contained in these Terms will constitute Participant and Organizer as members of any partnership,
        joint venture, association, syndicate, unincorporated business, or similar assignment as a result of or by
        virtue of the relationship established by these Terms.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c3">Third-Party Beneficiaries</span
      ><span class="c2"
        >. Organizer designates its affiliates as third-party beneficiaries having the right to enforce these Terms. No
        other person will assert any rights as a third-party beneficiary hereunder.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
      ><span class="c3">Termination and Amendments</span
      ><span class="c2"
        >. Organizer reserves the right to modify, suspend, or terminate the Program or these Terms, at any time, with
        or without prior notice to Participant. Participant waives any right it may have to receive specific notice of
        such termination, modifications or revisions. The most current version of these Terms will be posted on the
        Service. Any modifications or revisions will be effective immediately upon posting the modifications or
        revisions to the Service. If Participant continues to participate in the Program following the posting of a
        revised version of these Terms, Participant is signifying that it accepts and agrees to the changes.</span
      >
    </p>
    <p class="c4">
      <span class="c7">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c3">Entire Agreement</span
      ><span class="c2"
        >. These Terms constitute the entire agreement between Participant and Organizer, and supersedes all previous
        communications, understandings, representations, warranties, or agreements, whether written or oral, with
        respect to the subject matter hereof.</span
      >
    </p>
  </body>
</html>
