.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .walletBalance {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #f8f9fb;
    gap: 6px;
  }

  .max {
    font-weight: 700;
    text-transform: uppercase;
    color: #f9ddfb;
    cursor: pointer;
  }

  .tradingInfo {
    background: #1f1f22;
    border: 1px solid #f8f9fb;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    cursor: pointer;

    .token {
      background: #29292b;
      border-radius: 7px 0px 0px 7px;
      width: 152px;
      height: 44px;
      font-weight: 700;
      font-size: 14px;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      letter-spacing: -0.001em;
      color: #ffffff;
      padding-left: 18px;
      padding-right: 18px;
    }

    .tokenValueInfo {
      display: flex;
      flex-direction: row;
      gap: 9px;
      padding: 10px;
      img {
        margin-top: 2px;
      }
    }

    .tokenValue {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      .tokenAmount {
        font-weight: 500;
        font-size: 14px;
        line-height: 0px;
        color: #f8f9fb;
        text-align: right;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
      }

      .usdPrice {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: -0.001em;
        color: #5d5d5e;
      }
    }
  }
}

.errorColor {
  border: 1px solid #fc4751 !important;
}

.dropdown {
  width: 152px !important;
  height: 42px !important;
}
.dropdownInputClass {
  border: none !important;
  border-radius: 8px 0 0 8px !important;
}
