@import '/styles/libraries/global';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  p {
    color: #2c2c2c;
    font-size: 14px;
    font-family: $Inter-600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.42px;
  }
  .walletBalance {
    font-family: $Inter-500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #f8f9fb;
    gap: 6px;
  }

  .max {
    font-family: $Inter-700;
    text-transform: uppercase;
    color: #f9ddfb;
    cursor: pointer;
  }

  .tradingInfo {
    border-radius: 8px;
    border: 1px solid #d8d3d3;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    cursor: pointer;

    .token {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #2c2c2c;
      font-size: 14px;
      font-style: normal;
      font-family: $Inter-500;
      line-height: 31.533px; /* 225.238% */
      letter-spacing: -0.014px;
      padding-left: 18px;
      padding-right: 18px;
      width: 100%;
    }

    .tokenValueInfo {
      display: flex;
      flex-direction: row;
      gap: 9px;
      padding: 10px;
      img {
        margin-top: 2px;
      }
    }

    .tokenValue {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      .tokenAmount {
        font-family: $Inter-500;
        font-size: 14px;
        line-height: 0px;
        color: #f8f9fb;
        text-align: right;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
      }

      .usdPrice {
        font-family: $Inter-500;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: -0.001em;
        color: #5d5d5e;
      }
    }
  }
}

.errorColor {
  border: 1px solid #fc4751 !important;
}

.dropdown {
  width: 152px !important;
  height: 42px !important;
}
.dropdownInputClass {
  border: none !important;
  border-radius: 8px 0 0 8px !important;
}
