.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  p {
    text-align: start;
    color: #2C2C2C;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
  }
  .head {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }
  .shCommand {
    border-radius: 16px;
    border: 1px solid #D8D3D3;
    background: #F5F5F5;
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: flex-start;

    .command {
      margin: 24px 0px 24px 24px;
      color: #2C2C2C;
      font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }
    span {
      color: #1d68be;
      background: transparent !important;
      border: none !important;
      padding: 0 !important;
      text-decoration-line: underline;
    }

    img {
      cursor: pointer;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}