@import '/styles/libraries/global';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  p {
    text-align: start;
    color: #2c2c2c;
    font-size: 16px;
    font-style: normal;
    font-family: $Inter-500;
    line-height: 145%; /* 23.2px */
  }
  .head {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }
  .shCommand {
    border-radius: 16px;
    border: 1px solid #d8d3d3;
    background: #f5f5f5;
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: flex-start;

    .command {
      margin: 24px 0px 24px 24px;
      color: #2c2c2c;
      font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;
      font-size: 14px;
      font-style: normal;
      font-family: $Inter-400;
      line-height: 20px; /* 142.857% */
    }
    span {
      color: #1d68be;
      background: transparent !important;
      border: none !important;
      padding: 0 !important;
      text-decoration-line: underline;
    }

    .copyIcon {
      background-image: url('/assets/icons/copy.svg');
      background-repeat: no-repeat;
      width: 24px;
      min-width: 24px;
      height: 24px;
      cursor: pointer;
      margin-top: 10px;
      margin-right: 10px;
    }
    .copyIcon:hover {
      background-image: url('/assets/icons/copy-hover.svg');
    }
    .copied,
    .copied:hover {
      background-image: url('/assets/icons/copied.svg');
    }
  }
}
