@import '/styles/libraries/global';

.confirmEmail {
  width: 500px;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 100px 0px;

  .loadingImage {
    width: 114px;
    height: 114px;
  }
  .title {
    color: #2c2c2c;
    text-align: center;
    font-family: $Inter-700;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-top: 34px;
  }
  .text {
    color: #2c2c2c;
    text-align: center;
    font-family: $Inter-400;
    font-size: 20px;
    font-style: normal;
    line-height: 121.168%; /* 24.234px */
    margin-top: 10px;
  }
  .subText {
    font-family: $Inter-500;
    color: #6b6666;
    font-size: 14px;
    line-height: 155%;
    margin-top: 60px;
    margin-bottom: 8px;
  }
  .clickAgain {
    font-family: $Inter-500;
    color: #ff62c4;
    font-size: 14px;
    text-decoration-line: underline;
    cursor: pointer;
  }
}

.contentClassName {
  align-items: center !important;
}
