@import '/styles/libraries/global';

.container {
  width: 100%;
  background: #f5f5f5;
  padding: 165px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p,
  h1 {
    margin: 0;
  }
  h1 {
    color: #2c2c2c;
    text-align: center;
    font-family: $Inter-700;
    font-size: 28px;
    font-style: normal;
    line-height: normal;
  }
  .describe {
    color: #6b6666;
    text-align: center;
    font-family: $Inter-500;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: 12px;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 38px;
    border-radius: 8px;
    border: 1px solid #d8d3d3;
    background: #fff;
    height: 40px;

    .tab {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #8a8383;
      text-align: center;
      font-family: $Inter-500;
      font-size: 16px;
      font-style: normal;
      line-height: 150%; /* 24px */
      letter-spacing: -0.32px;
    }

    .active {
      border-radius: 8px;
      background: #d8d3d3;
      color: #2C2C2C;
      font-family: $Inter-600;
    }
  }

  .stepModal {
    max-width: 699px;
    border-radius: 8px;
    background: #fff;
    padding: 44px 42px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    .stepHeader {
      color: #2c2c2c;
      font-family: $Inter-700;
      font-size: 22px;
      font-style: normal;
      line-height: 145%; /* 31.9px */
    }

    p {
      color: #2c2c2c;
      font-family: $Inter-500;
      font-size: 16px;
      font-style: normal;
      line-height: 145%; /* 23.2px */
    }

    .stepDescribe {
      margin-top: 18px;
    }

    .stepBtns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 13px;
      margin: 30px auto 0px;

      .stepBtn {
        border-radius: 8px;
        background: #2c2c2c;
        border: none;
        outline: none;
        width: 148px;
        height: 46px;
        color: #fff;
        text-align: center;
        font-family: $Inter-600;
        font-size: 16px;
        font-style: normal;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
        cursor: pointer;
      }
    }
    .stepItems {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;

      span {
        border-radius: 5px;
        border: 1px solid #d8d3d3;
        background: #f5f5f5;
        padding: 0 10px;
        color: #1d68be;
      }

      .itemHead {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 11px;

        .roundBg {
          width: 24px;
          min-width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          background: #2c2c2c;
          color: #fff;
          text-align: center;
          font-family: $Inter-700;
          font-size: 14px;
          font-style: normal;
          line-height: 145%; /* 20.3px */
        }
      }
      .externalBtns {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 11px;
        .externalBtn {
          max-width: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 52px;
          border-radius: 8px;
          background: #529bee;
          color: #fff;
          text-align: center;
          font-family: $Inter-600;
          font-size: 16px;
          font-style: normal;
          line-height: 150%; /* 24px */
          letter-spacing: -0.32px;
        }
      }
      .itemDescribe {
        margin-top: 15px;
        color: #6b6666;
        font-family: $Inter-400;
        font-size: 12px;
        font-style: italic;
        line-height: 145%; /* 17.4px */
      }

      .itemSteps {
        margin-left: 35px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .itemImg {
        margin-top: 20px;
      }
    }
  }
}
