@import "libraries/global";

.layout-container {
  width: 100vw;
  max-width: 100%;

  &__header {
    padding: 40px 62px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background: #EAE5E5;

    @media screen and (max-width: 850px) {
      flex-direction: column;
      padding: 20px 30px 0px;
    }

    @media screen and (max-width: 850px) {
      flex-direction: row;
    }

    &__logo {
      cursor: pointer;
    }

    &__buttons {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 850px) {
        margin-top: 15px;
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &__hamburger {
      display: none;

      img {
        height: 13px;
      }

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    .header-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-semibold;
      font-size: 14px;
      color: $main_text_color;
      cursor: pointer;
      margin-left: 25px;
      text-transform: uppercase;
      height: 55.91px;

      img {
        height: 9px;
        margin-left: 5px;
      }

      &.active {
        color: #FF62C4;
      }

      &.disabled {
        color: #e7c5c5;
        text-decoration: none;
      }

      &.community {
        display: flex;
        margin-left: 100px;
        background: #eae5e5;
        border: 1.30736px solid #2c2c2c;
        border-radius: 6.53678px;
        width: 276.26px;

        &:hover {
          background: #eae5e5;
          border: 1.30736px solid #ff62c4;
          color: #ff62c4;
        }

        @media screen and (max-width: 930px) {
          margin-left: 25px;
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 10px;
      }

      @media screen and (max-width: 500px) {
        font-size: 16px;
        height: 30px;
        margin-bottom: 10px;
        margin-right: 0px;
      }
    }

    .header-menu-sub {
      position: absolute;
      // padding-top: 15px;
      margin-left: 20px;
      padding-left: 20px;
      font-size: 15px;
      font-family: $font-semibold;
      display: flex;
      flex-direction: column;
      color: $main_text_color;
      display: none;

      &-link {
        margin-bottom: 10px;
        cursor: pointer;

        &.active {
          color: #FF62C4;
        }
      }
    }

    .header-parent-menu:hover {
      .header-menu-sub {
        display: block;
      }

      .header-major-submenu {
        display: block;
      }
    }

    .header-major-submenu {
      position: fixed;
      width: 100%;
      left: 0px;
      top: 105px;
      display: none;
      z-index: 8000;
      box-shadow: 0px 4px 3px rgba(182, 182, 182, 0.23);

      &-padding {
        width: 100%;
        height: 20px;
      }

      &-content {
        width: 100%;
        border-top: 1px solid #2c2c2c;
        // background: #eadede;
        background: #eae5e5;
        padding: 55px 96px;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 3fr;
        gap: 20px;

        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          color: #2c2c2c;
          margin-top: 19px;
          width: fit-content;
          height: 25px;
          text-transform: capitalize;

          background-image: url("/assets/arrows/arrow-top-right.png");
          background-repeat: no-repeat;
          background-position: center right;
          padding-right: 15px;
          background-size: 10px;

          &:hover {
            color: #ff62c4;
            background-image: url("/assets/arrows/arrow-top-right-pink.png");
          }

          img {
            height: 38px;
            margin-right: 8px;
          }

          &.paloma-extension {
            align-items: flex-start;

            span {
              font-size: 14px;
              color: rgba(114, 111, 111, 1);
            }
          }
        }

        .submenu-section {
          display: flex;
          flex-direction: column;

          &-btitle {
            font-family: $font-semibold;
            font-size: 28px;
            line-height: 37px;
            color: #2c2c2c;
            text-transform: capitalize;
          }

          &-title {
            font-family: $font-semibold;
            font-size: 20px;
            line-height: 27px;
            color: #2c2c2c;
            text-transform: capitalize;
            height: fit-content;

            &.link {
              margin-top: 0px;
              background-size: 15px;
              padding-right: 25px;
              background-image: none;
            }
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            color: #000000;
            max-width: 275px;
          }
        }
      }
    }
  }

  .mobile-header-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: #2c2c2c;
    z-index: 5000;
    padding: 21px 24px;

    &-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mobile-logo {
        height: 80px;
      }

      .mobile-menu-close {
        height: 13px;
      }
    }

    &-menus {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 61px;
      height: calc(100% - 21px - 57px - 61px);
    }

    .mobile-menu-spacer {
      flex: 1;
    }

    .mobile-button {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      font-family: $font-semibold;
      font-size: 14px;
      color: #fff;
      text-decoration: underline;
      text-transform: uppercase;
      margin-bottom: 13px;

      img {
        height: 9px;
        margin-left: 5px;
      }

      &.active {
        color: #FF62C4;
      }

      &.disabled {
        color: #494849;
        text-decoration: none;
      }

      &.community {
        display: flex;
        text-decoration: underline;
      }
    }

    .mobile-menu-sub {
      display: block;
      width: 100%;
      margin-left: 18px;
      font-family: $font-semibold;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      color: #fff;

      span {
        text-decoration: none;
      }

      &-link {
        margin-bottom: 13px;
        text-decoration: none !important;
        text-transform: uppercase;
        color: #fff;

        &.active {
          color: #FF62C4;
          text-decoration: none !important;
        }
      }
    }
  }

  .sub-nav-bar {
    width: 100%;
    padding: 0px 62px;
    margin-top: 62px;

    @media screen and (max-width: 768px) {
      padding: 0px 32px;
    }
  }

  .footer-container {
    .footer-triangle-border {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 50px 100vw;
      border-color: transparent transparent #f1d1e5 transparent;
    }

    .footer-view {
      background: #f1d1e5;
      padding: 50px 86px 120px;
      display: flex;
      align-items: flex-start;
      gap: 20px;

      @media screen and (max-width: 768px) {
       flex-direction: column;
      }

      @media screen and (max-width: 768px) {
        padding: 30px;
      }

      &-logo {
        flex: 1;

        img {
          height: 117px;
        }
      }

      &-links {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
          margin-left: 0px;
          margin-top: 30px;
        }
      }

      .footer-subtitle {
        font-size: 14px;
        line-height: 32px;
        color: #2c2c2c;
        text-transform: uppercase;
        font-family: $font-bold;
      }

      a {
        display: flex;
        align-items: center;
        color: $main_text_color;
        margin-top: 13px;
        font-size: 14px;
        margin-right: 70px;
        text-transform: capitalize;

        img {
          margin-left: 4px;
          height: 11px;
        }

        &:hover {
          color: #FF62C4;
        }
      }
    }
  }

  .link-back-to {
    border-radius: 7px;
    border: 1px solid #2c2c2c;
    width: 83px;
    height: 31px;
    font-size: 12px;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      height: 10px;
      margin-right: 4px;
    }
  }
}
