:root {
  --toastify-color-progress-light: #acacac;
}

.Toastify__toast-container--bottom-center {
  @media screen and (max-width: 480px) {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10px;
  }
}

@import 'libraries/global';

@import 'components';
@import 'elements';
@import 'pages';

@import 'layout';

body {
  background-color: $main_bg_color;
  font-family: $RockStar-400;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

.page-container {
  padding: 120px 0px 30px;
  width: 100vw;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.ml-2 {
  margin-left: 20px;
}

.copy-command-with-color {
  p {
    font-size: 14px !important;
    font-family: $Inter-400 !important;
  }
  .my-24 {
    margin-top: 24px;
  }
  span {
    text-decoration-line: none !important;
  }
  .gray-color {
    color: #b4b0b0 !important;
  }
  .orange-color {
    color: #f5841f !important;
  }
  .green-color {
    color: #5fbe91 !important;
  }
}
