:root {
  --toastify-color-progress-light: #acacac;
}

.Toastify__toast-container--bottom-center {
  @media screen and (max-width: 480px) {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10px;
  }
}

@import 'libraries/global';

@import 'components';
@import 'elements';
@import 'pages';

@import 'layout';

body {
  background-color: $main_bg_color;
  font-family: $RockStar-400;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

.page-container {
  padding: 109px 0px 30px;
  width: 100vw;
  max-width: 100%;

  @media screen and (max-width: 768px) {
    padding: 120px 0px 30px;
  }
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.ml-2 {
  margin-left: 20px;
}
