.blog-page-container {
  width: 100%;

  .blog-page-images {
    width: 100%;
    max-width: 1200px;
    margin: 115px auto;
    display: flex;
    justify-content: space-between;

    .blog-page-image {
      width: calc(33.33% - 22px);
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #2c2c2c;
      border-radius: 10px;
      font-size: 30px;
      line-height: 40px;
      color: #eadede;
      font-family: $font-bold;
      padding-bottom: 88px;
      cursor: pointer;

      img {
        height: 182px;
        margin-top: -60px;
      }

      span {
        text-align: center;
        display: block;
        min-height: 68px;
        margin-top: 18px;
      }
    }
  }

  .blog-latest-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto;

    .blog-latest-item {
      margin-bottom: 86px;
    }

    .blog-latest-date {
      color: #ff6666;
      font-size: 18px;
    }

    .blog-latest-image {
      width: 100%;
      border-radius: 15px;
      border: 2px solid #2c2c2c;
      margin-top: 18px;
    }

    .blog-latest-title {
      font-family: $font-bold;
      color: #2C2C2C;
      font-size: 40px;
      line-height: 53px;
      cursor: pointer;
    }
  }

  .blog-post-view {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 100px;

    .blog-pubtime {
      color: #ff6666;
      font-size: 18px;
      margin-top: 100px;
    }

    .blog-featured-image {
      width: 100%;
      border-radius: 15px;
      border: 2px solid #2c2c2c;
      margin-top: 18px;
    }

    .blog-title {
      font-size: 40px;
      line-height: 53px;
      font-family: $font-bold;
      margin-top: 50px;
    }

    .blog-divider {
      width: 129px;
      height: 3px;
      background: #2c2c2c;
      margin: 51px 0px;
    }

    .blog-post {
      width: 100%;

      @media screen and (max-width: 425px) {
        padding: 20px 0px;
      }
      a {
        color: $main_text_color;
        text-decoration: underline;
      }
    }
  }
}
