.blog-page-container {
  width: 100%;

  .blog-page-images {
    width: 100%;
    max-width: 1200px;
    margin: 115px auto 20px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1280px) {
      max-width: 100%;
      padding: 0px 30px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: flex-start;
      margin: 65px auto 20px;
    }

    .blog-page-image {
      width: calc(33.33% - 22px);
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #2c2c2c;
      border-radius: 10px;
      font-size: 30px;
      line-height: 40px;
      color: #eadede;
      font-family: $font-bold;
      padding-bottom: 88px;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 28px;
        width: calc(33.33% - 11px);
      }

      @media screen and (max-width: 650px) {
        font-size: 16px;
        line-height: 17px;
      }

      @media screen and (max-width: 500px) {
        width: 100%;
        margin-bottom: 40px;
      }

      &:hover {
        background: #ecc;
        color: $main_text_color;
      }

      img {
        height: 182px;
        margin-top: -60px;

        @media screen and (max-width: 768px) {
          height: 90px;
          margin-top: -30px;
        }
      }

      span {
        text-align: center;
        display: block;
        min-height: 68px;
        margin-top: 18px;
      }
    }
  }

  .blog-latest-wrapper {
    width: 100%;
    max-width: 1116px;
    margin: 100px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media screen and (max-width: 1280px) {
      max-width: 100%;
      padding: 0px 30px;
    }

    @media screen and (max-width: 600px) {
      margin: 50px auto;
    }

    .blog-latest-item {
      margin-bottom: 86px;
      width: calc(50% - 50px);

      @media screen and (max-width: 1280px) {
        width: calc(50% - 20px);
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .blog-latest-date {
      color: #ff6666;
      font-size: 18px;
    }

    .blog-latest-image {
      width: 100%;
      height: 300px;
      border-radius: 15px;
      border: 2px solid #2c2c2c;
      margin-top: 18px;
      object-fit: cover;
    }

    .blog-latest-title {
      font-family: $font-bold;
      color: #2c2c2c;
      font-size: 20px;
      line-height: 26px;
      cursor: pointer;
    }
  }

  .blog-post-view {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 70px;
    line-height: 200%;

    .blog-pubtime {
      color: #ff6666;
      font-size: 18px;
    }

    .blog-featured-image {
      width: 100%;
      border-radius: 15px;
      border: 2px solid #2c2c2c;
      margin-top: 18px;
    }

    .blog-title {
      font-family: $font-bold;
      font-size: 40px;
      line-height: 53px;
      margin-top: 50px;
    }

    .blog-divider {
      width: 129px;
      height: 3px;
      background: #2c2c2c;
      margin: 51px 0px;
    }

    .blog-post {
      width: 100%;
      font-family: "Lora";

      @media screen and (max-width: 425px) {
        padding: 20px 0px;
      }
      a {
        color: $main_text_color;
        text-decoration: underline;
      }
    }

    .embed-responsive {
      display: block;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100%;
    }

    .embed-responsive-16by9:before {
      padding-top: 56.25%;
    }

    .embed-responsive:before {
      content: "";
      display: block;
    }

    .embed-responsive .embed-responsive-item,
    .embed-responsive embed,
    .embed-responsive iframe,
    .embed-responsive object,
    .embed-responsive video {
      border: 0;
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
