@import '/styles/libraries/global';

.event-page-container {
  width: 100%;

  .event-list-wrapper {
    width: 100%;
    max-width: 1120px;
    margin: 77px auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px max(15px, calc(50% - 504px));

    @media screen and (max-width: 1120px) {
      width: 100%;
      max-width: 100%;
      padding: 0px 30px;
    }

    @media screen and (max-width: 1100px) {
      grid-template-columns: repeat(2, 336px);
      gap: 0px 56px;
    }

    @media screen and (max-width: 791px) {
      gap: 0px 30px;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }

  .event-item-container {
    display: flex;
    flex-direction: column;
    width: 336px;
    max-width: 100%;
    background: #f0ebeb;
    border-radius: 25px;
    margin-bottom: 85px;
    // margin-left: max(15px, calc(50% - 504px));

    // &:nth-child(3n + 1) {
    //   margin-left: 0px;
    // }

    // @media screen and (max-width: 1197px) {
    //   &:nth-child(3n + 1) {
    //     margin-left: max(15px, calc(50% - 504px));
    //   }

    //   &:nth-child(2n + 1) {
    //     margin-left: 0px;
    //   }
    // }

    @media screen and (max-width: 1100px) {
      margin-bottom: 45px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }

    &.upcoming {
      &:hover {
        background: #f6f2f2;
      }
    }
  }

  .event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    @media screen and (max-width: 768px) {
      margin-bottom: 26px;
      margin-right: 0px;
    }
  }

  .event-section {
    width: 100%;
    padding: 25px 17px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .event-date {
    color: #000;
    font-size: 12px;
    color: #2c2c2c;
  }

  .event-title {
    margin-top: 12px;
    font-family: $RockStar-700;
    font-size: 16px;
    color: $main_text_color;
  }

  .event-location {
    display: flex;
    align-items: center;
    color: $main_text_color;
    font-size: 12px;
    margin-top: 8px;

    img {
      height: 12px;
      margin-right: 10px;
    }

    span {
      padding-top: 5px;
    }
  }

  .event-description {
    font-size: 12px;
    color: $main_text_color;
    line-height: 24px;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;
    // margin-top: 12px;
    // line-height: 129%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 12px;
      font-family: $RockStar-700;
    }
  }

  .event-spacer {
    flex: 1;
  }

  .event-buttons {
    margin-top: 22px;
    display: flex;
    justify-self: flex-end;
    height: 40px;

    .event-register {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f1d1e5;
      border-radius: 6px;
      width: 135px;
      height: 40px;
      font-size: 14px;
      color: $main_text_color;
    }
  }
}

.no-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;

  @media screen and (max-width: 768px) {
    margin: 50px auto;
  }

  & > img {
    width: 100%;
    max-width: 400px;
  }

  p {
    font-family: $RockStar-700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000;
    margin-top: 15px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .no-events-buttons {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0px 24px;
    }

    a {
      background: #2c2c2c;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      margin: 0px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 66px;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 5px 0px;
        height: 40px;
        font-size: 14px;
      }

      img {
        height: 21px;
        margin-left: 7px;
      }
    }
  }
}
