@import 'blog';
@import 'event';
@import 'home';
@import 'brand-assets';
@import 'about';
@import 'lightnode';
@import 'purchase';
@import 'node-sale';

.custom-404-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 800px;
    max-width: 90%;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  span {
    display: inline-block;
    max-width: 680px;
    text-align: center;
    font-family: $RockStar-500;
    font-size: 30px;
    line-height: 44px;
    color: #fff;

    @media screen and (max-width: 500px) {
      font-size: 20px;
      line-height: 34px;
    }
  }

  a {
    color: #37fad3;
    text-decoration: underline;
  }
}
