@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

@font-face {
  font-family: 'RockStar-200';
  src: local('RockStar-200'), url('/static/fonts/RockStar/RockStar-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'RockStar-300';
  src: local('RockStar-300'), url('/static/fonts/RockStar/RockStar-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RockStar-400';
  src: local('RockStar-400'), url('/static/fonts/RockStar/RockStar-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RockStar-500';
  src: local('RockStar-500'), url('/static/fonts/RockStar/RockStar-500.ttf') format('truetype');
}
@font-face {
  font-family: 'RockStar-600';
  src: local('RockStar-600'), url('/static/fonts/RockStar/RockStar-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RockStar-700';
  src: local('RockStar-700'), url('/static/fonts/RockStar/RockStar-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RockStar-800';
  src: local('RockStar-800'), url('/static/fonts/RockStar/RockStar-ExtraBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Inter-100';
  src: local('Inter-100'), url('/static/fonts/Inter/Inter-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-200';
  src: local('Inter-200'), url('/static/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-300';
  src: local('Inter-300'), url('/static/fonts/Inter/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-400';
  src: local('Inter-400'), url('/static/fonts/Inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-500';
  src: local('Inter-500'), url('/static/fonts/Inter/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-600';
  src: local('Inter-600'), url('/static/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-700';
  src: local('Inter-700'), url('/static/fonts/Inter/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-800';
  src: local('Inter-800'), url('/static/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
}
