// Main colors
$main_bg_color: #EAE5E5;
$main_text_color: #2C2C2C;

$button_bg_color: #f66;
$hightlighted_color: #f66;
$border_color: #f66;

// Font
$font-regular: 'RockStar-Regular';
$font-semibold: 'Rockstar-SemiBold';
$font-bold: 'Rockstar-Bold';