// Main colors
$main_bg_color: #eae5e5;
$main_text_color: #2c2c2c;

$button_bg_color: #f66;
$hightlighted_color: #f66;
$border_color: #f66;

// Font
$font-regular: "RockStar-Regular";
$font-semibold: "Rockstar-SemiBold";
$font-bold: "Rockstar-Bold";
