// Main colors
$main_bg_color: #eae5e5;
$main_text_color: #2c2c2c;

$button_bg_color: #f66;
$hightlighted_color: #f66;
$border_color: #f66;

// Font
$RockStar-400: 'RockStar-400';
$RockStar-500: 'RockStar-500';
$RockStar-600: 'RockStar-600';
$RockStar-700: 'RockStar-700';
$RockStar-800: 'RockStar-800';
$RockStar-Black: 'RockStar-Black';

$Inter-400: 'Inter-400';
$Inter-500: 'Inter-500';
$Inter-600: 'Inter-600';
$Inter-700: 'Inter-700';
$Inter-800: 'Inter-800';
