@import '/styles/libraries/global';

.wizardView {
  display: flex;
  flex-direction: column;

  .describeBar {
    font-family: $Inter-600;
    font-size: 14px;
    line-height: 18px;
    color: #2c2c2c;
    text-align: start;
    text-align: center;
    margin: 36px 0px;

    @media screen and (max-width: 768px) {
      padding: 42px 8px 31px;
    }
  }

  .chooseWallet {
    font-family: $Inter-500;
    font-size: 14px;
    color: #2c2c2c;
    text-align: start;
    margin: 12px 0;
  }
}

.text {
  padding: 16px 0px 38px;
  font-family: $Inter-600;
  font-size: 14px;
  line-height: 16px;
  color: #565865;
}

.connectWalletBtn {
  border: 1px solid #eceaea;
  background: #eceaea !important;
  border-radius: 8px;
  font-size: 18px;
  font-family: $Inter-700;
  line-height: 21px;
  letter-spacing: -0.413572px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 64px;
  color: #5d5d5e;
}
.connectWalletBtn:hover {
  background: #f1d1e5 !important;
  border: none;
}
.frameWallet {
  position: absolute !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  opacity: 0 !important;
  width: calc(100% - 128px - 10px) !important;
  height: 64px !important;
  margin-left: -64px !important;
}

.tryAgainWrapper {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  position: absolute;
  bottom: 44px;
  right: 50px;
  font-family: $Inter-600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
